.panel {
}

.menu {
    opacity: 1;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    width: 1230px;
    background-color: rgba(51, 51, 51, 0.86);
    height: 900px;
    transform-origin: center;
    translate: 345px 90px;
}

.label {
    background-color: rgb(255, 255, 255);
    -unity-text-outline-width: 0;
    -unity-text-outline-color: rgb(255, 0, 0);
    width: 100%;
    translate: -2px -4px;
    text-shadow: 0 0 64.7px rgb(0, 0, 0);
    letter-spacing: 53px;
}

.unity-button {
    height: 10%;
    width: 95%;
    -unity-text-align: upper-center;
    translate: 1.5% 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    bottom: 0;
    background-color: rgb(79, 207, 87);
}

.unity-button:hover {
    background-color: rgb(53, 183, 69);
    scale: 1.025 1.1;
    transition-property: scale;
    transition-duration: 0.2s;
}

.unity-button:hover:active {
    background-color: rgb(38, 125, 43);
    scale: 0.95 0.9;
    transition-property: scale;
    transition-duration: 0.2s;
}
